.pe-editor * {
  /* width */
  /* Track */
  /* Handle */
}

.pe-editor *::-webkit-scrollbar {
  width: 22px !important;
}

.pe-editor *::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.pe-editor *::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  background: #4d5960 !important;
  border-radius: 50px !important;
  padding: 0 6px !important;
  border: 6px solid transparent !important;
  background-clip: padding-box !important;
}

.pe-editor *::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 68, 0.6) !important;
  background-clip: padding-box !important;
}
