// general variables
$soft-grey: rgb(215, 222, 225);
$default-border: 1px solid $soft-grey;
$primary-color: rgb(77, 89, 96);
$link-color: rgba(255, 0, 68, 0.6);
$accent-color: rgb(100, 201, 255);

// page variables
$page-border: 1px solid $soft-grey;
$page-background: white;
$page-font-size: 12px;

// content variables
$content-background: rgba(235, 243, 246, 0.5);

// controller variables
$controller-border: 2px solid $accent-color;

// element variables
$element-outline: 2px solid $link-color;
