@keyframes play {
   0% {
      filter: hue-rotate(40deg) saturate(40) brightness(300%);
   }
   50% {
      filter: hue-rotate(40deg) saturate(60) brightness(300%);
   }
   100% {
      filter: hue-rotate(40deg) saturate(40) brightness(300%);
   }
}
