@import 'variables.scss';
@import 'preview.scss';
@import 'helpers.scss';
@import 'pages.scss';
@import 'zoom.scss';

// EDITOR
.pe-editor {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: $default-br;
   background: #ffffff;
   position: relative;

   &.pe-active-editor .pe-page {
      outline: 2px solid rgba(220, 205, 255, 0.329);
   }
}

// EDITOR CONTENT
.pe-content {
   display: grid;
   overflow: auto;
   position: absolute;
   padding: 50px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   top: 54px;
}

// PAGE WRAPPER
.pe-page-wrapper {
   margin: auto;
   display: block;
   position: relative;
   box-sizing: content-box;
}

// PAGE
.pe-editor .pe-page {
   border: $page-br;
   background-color: $page-bg;
   overflow: hidden;
   position: absolute;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   box-shadow: $page-shadow;
   -webkit-box-shadow: $page-shadow;
   font-size: $page-font-size !important;
   transform-origin: 0 0;
}

// TOOLBAR
.pe-toolbar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: white;
   display: flex;
   align-items: center;
   border-bottom: $default-br;
   padding: 10px;
   height: 32px;
}

// OPTIONS TOOLBAR
.pe-options-toolbar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   z-index: 99999999;
   width: 100%;
   height: 100%;
   column-gap: 12px;

   // TOOL
   .pe-tool {
      display: none;
      justify-content: center;
      align-items: center;
      height: 32px !important;
      border-radius: 8px !important;
      padding: 3px;
   }

   // ALIGN SELECTOR
   .pe-change-align {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
   }

   // OPACITY SLIDER
   .pe-change-opacity {
      align-items: center;
      border: 1px solid transparent;
      &:hover {
         background: rgb(249, 253, 255);
         border: 1px solid rgb(227, 227, 227);
         .pe-opacity-menu {
            display: flex;
         }
      }

      .pe-opacity-icon {
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .pe-opacity-menu {
         display: none;
         height: 32px;
         width: 140px;
         align-items: center;
         justify-content: center;
         .pe-opacity-slider {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(56, 176, 236);
            height: 7px;
            border: none;
            border-radius: 5px;
            outline: none;
            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 16px;
               height: 16px;
               border: 2px solid rgba(69, 81, 97, 0.8);
               border-radius: 100%;
               background: rgb(255, 255, 255);
               cursor: pointer;
            }
            &::-moz-range-thumb {
               width: 16px;
               height: 16px;
               border: 2px solid rgba(69, 81, 97, 0.8);
               border-radius: 100%;
               background: rgb(255, 255, 255);
               cursor: pointer;
            }
         }
      }
   }

   // COLOR SELECTOR
   .pe-change-color {
      cursor: pointer;
      background-color: white;
      position: relative;
      .pe-color-area {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         img {
            width: 26px;
         }
         .pe-color-indicator {
            outline: 1px solid rgba(128, 128, 128, 0.2);
            width: 28px;
            height: 6px;
            border-radius: 3px;
         }
      }
      input {
         z-index: 99;
         cursor: pointer;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 6px;
         opacity: 0;
         &::-webkit-color-swatch {
            display: none;
         }
         &::-moz-color-swatch {
            display: none;
         }
      }
   }

   // TOGGLE BOLD-ITALIC-STRIKE
   .pe-toggle-bold,
   .pe-toggle-italic,
   .pe-toggle-strike {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
      button.pe-is-active img {
         filter: saturate(30);
      }
   }

   // FLIP HORIZONTAL-VERTICAL-BACK-FRONT
   .pe-flip-horizontal,
   .pe-flip-vertical,
   .pe-flip-back,
   .pe-flip-front {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
   }

   .pe-flip-horizontal,
   .pe-flip-vertical {
      button.pe-is-active img {
         filter: saturate(30);
      }
   }
}

// EDITOR ELEMENT
.pe-editor .pe-page .pe-element {
   // GENERAL ITEM STYLES
   &:not(.pe-is-active) {
      .pe-item {
         cursor: pointer !important;
      }
   }
   &:hover {
      transition: 0.2s;
      border: $element-br-hover;
   }

   &.pe-is-active {
      border: $element-br !important;
      .pe-item {
         cursor: unset !important;
      }
   }
}

// ELEMENT
.pe-element {
   border: $element-br;
   box-sizing: border-box;
   touch-action: none;
}

// CONTROLLER
.pe-controller {
   // pointer-events: none;
   // touch-action: none;
   box-sizing: border-box;
   position: absolute;
   display: none;
   border: $controller-br;
   &.pe-is-active {
      display: block;
   }

   // DELETE HANDLE
   .pe-delete-handle {
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      z-index: 99999999;
      top: -37px;
      left: calc(50% - 9px);
      img {
         width: 20px;
         background: rgb(120, 143, 155);
         border-radius: 100%;
         padding: 2px;
      }
   }

   // ROTATE HANDLE
   .pe-rotate-handle {
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      z-index: 99999999;
      bottom: -40px;
      left: calc(50% - 9px);
      img {
         width: 18px;
         background: rgb(120, 143, 155);
         border-radius: 100%;
         padding: 4px;
      }
   }

   // THUMBS
   .pe-thumbs {
      .pe-thumb {
         position: absolute;
         width: 10px;
         height: 10px;
         background: rgb(255, 255, 255);
         pointer-events: auto;
         border-radius: 100%;
         box-shadow: 0 0 0 2px $controller-br-color;

         &.pe-thumb-top-left {
            top: -5px;
            left: -5px;
         }

         &.pe-thumb-top-right {
            top: -5px;
            right: -5px;
         }

         &.pe-thumb-bottom-left {
            bottom: -5px;
            left: -5px;
         }

         &.pe-thumb-bottom-right {
            bottom: -5px;
            right: -5px;
         }
      }
   }
}

.pe-change-font .pe-selector {
   width: 200px;
}

.pe-change-font-size .pe-selector {
   width: 60px;
}

.pe-selector {
   font-family: sans-serif;
   position: relative;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   box-sizing: border-box;
   height: 36px;
   padding: 0 8px;
   cursor: pointer;
   display: flex;
   align-items: center;
   .pe-selector-display {
      width: 100%;
      display: flex;
      white-space: nowrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 5px;
      box-sizing: border-box;
      font-size: 14px;
   }

   &.pe-is-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .pe-selector-options {
         transition: 0.5s;
         visibility: visible;
         opacity: 1;
      }
   }

   .pe-selector-options {
      position: absolute;
      box-sizing: border-box;
      top: 100%;
      right: -1px;
      left: -1px;
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      background: white;
      max-height: 250px;
      overflow-y: auto;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      /* width */
      &::-webkit-scrollbar {
         width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
         box-shadow: none;
         background: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
         background: rgb(116, 118, 125);
         border-radius: 50px;
      }
   }

   .pe-selector-option {
      cursor: pointer;
      padding: 5px;
      &:hover {
         background: rgba(206, 206, 206, 0.4);
      }
   }
}
