@import 'variables.scss';
@import 'preview.scss';
@import 'helpers.scss';
@import 'pages.scss';
@import 'fonts.scss';

// EDITOR
.pe-editor {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: $default-br;
   background: #d0dce221;
}

// PAGE
.pe-editor .pe-page {
   padding: 10px;
   margin: 20px 0;
   display: block;
   border: $page-br;
   border-radius: 0px;
   background-color: $page-bg;
   overflow: hidden;
   position: relative;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   box-shadow: $page-shadow;
   -webkit-box-shadow: $page-shadow;
}

// DRAG DROP
.pe-editor .pe-page-can-drop {
   outline: $page-drop-outline;
}
.pe-drop-item {
   transition: 0.4s;
   border: $material-br;
   cursor: pointer;
   border-radius: 10px;
   padding: 10px;
}
.pe-active-drop-item {
   transition: 0.4s;
   border: $material-br-active;
}
.pe-audio-material {
   display: flex;
   width: 230px;
   height: 70px;
}

// TOOLBAR
.pe-toolbar {
   background: white;
   width: 100%;
   display: flex;
   align-items: center;
   height: 50px;
   padding-bottom: 3px;
   border-bottom: $default-br;
}

// OPTIONS TOOLBAR
.pe-options-toolbar {
   width: min-content;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999999999999;
   height: 35px;

   // TOOL
   .pe-tool {
      display: none;
      padding: 0 4px;
      height: 35px;
      justify-content: center;
      align-items: center;
   }

   // TOGGLE BOLD-ITALIC-STRIKE
   .pe-toggle-bold,
   .pe-toggle-italic,
   .pe-toggle-strike {
      input {
         display: none;
      }
      input:checked + img {
         background-color: $toggle-bg-active;
      }
      img {
         cursor: pointer;
         border-radius: 6px;
         width: 35px;
         height: 100%;
         background-color: transparent;
      }
   }

   // FONT SELECTOR
   .pe-change-font select {
      color: $icon-color;
      width: 170px;
      height: 35px;
      border: $default-br;
      padding: 5px 8px;
      border-radius: 12px;
      -webkit-appearance: none;
      &:focus {
         outline: none;
      }
   }

   // FONT SIZE SELECTOR
   .pe-change-font-size select {
      color: $icon-color;
      width: 60px;
      height: 35px;
      border: $default-br;
      padding: 5px 8px;
      border-radius: 12px;
      margin-right: 4px;
      -webkit-appearance: none;
      &:focus {
         outline: none;
      }
   }

   // ALIGN SELECTOR
   .pe-change-align {
      cursor: pointer;
      position: relative;
      padding: 0;
      width: 40px;
      margin-right: 2px;
      .pe-align-selected {
         &:hover {
            background-color: $toggle-bg-active;
         }
         width: auto;
         padding: 3px 4px;
      }
      .pe-align-menu {
         width: 40px;
         padding: 0;
         overflow: hidden;
         background-color: white;
         display: flex;
         flex-direction: column;
         top: 0;
         left: 0;
         right: 0;
         position: absolute;
         align-items: center;
         outline: $default-br;
         img {
            &:hover {
               background-color: $toggle-bg-active;
            }
            width: auto;
            padding: 3px 4px;
         }
      }
   }

   // ALPHA SELECTOR
   .pe-change-alpha {
      position: relative;
      .pe-alpha-icon {
         width: 35px;
         height: 35px;
         cursor: pointer;
         border-radius: 6px;
         display: flex;
         justify-content: center;
         img {
            width: 30px;
         }
      }

      .pe-alpha-menu {
         position: absolute;
         top: 35px;
         left: 0;
         background-color: white;
         border: $default-br;
         border-radius: 12px;
         display: flex;
         height: 35px;
         width: 160px;
         align-items: center;
         justify-content: center;
         .pe-alpha-slider {
            -webkit-appearance: none;
            appearance: none;
            background-color: rgb(213, 225, 231);
            height: 7px;
            border: 1px solid rgb(104, 112, 116);
            border-radius: 5px;
            outline: none;
            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }
            &::-moz-range-thumb {
               width: 16px;
               height: 16px;
               border: 3px solid rgb(69, 81, 97);
               border-radius: 100%;
               background: rgb(213, 225, 231);
               cursor: pointer;
            }
         }
      }
   }

   // COLOR SELECTOR
   .pe-change-color {
      width: 40px;
      height: 35px;
      cursor: pointer;
      background-color: white;
      position: relative;
      .pe-color-area {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         img {
            width: 22px;
         }
         .pe-color-indicator {
            background-color: red;
            width: 28px;
            height: 6px;
            border-radius: 3px;
         }
      }
      .pe-change-color-picker {
         z-index: 99;
         cursor: pointer;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 6px;
         opacity: 0;
         &::-webkit-color-swatch {
            display: none;
         }
         &::-moz-color-swatch {
            display: none;
         }
      }
   }

   // FLIP HORIZONTAL-VERTICAL-BACK-FRONT
   .pe-flip-horizontal,
   .pe-flip-vertical,
   .pe-flip-back,
   .pe-flip-front {
      button {
         background: none;
         border: none;
         border-radius: 6px;
         cursor: pointer;
         height: 100%;
      }
      img {
         width: auto;
      }
   }
}

// HISTORY TOOLBAR
.pe-history-toolbar {
   margin-left: auto;
   width: min-content;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
   // TOOL
   .pe-tool {
      padding: 0 4px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .pe-undo,
   .pe-redo {
      button {
         width: 32px;
         height: 32px;
         background: none;
         border: 1px solid transparent;
         border-radius: 100%;
         cursor: pointer;
         &:hover {
            border: $default-br;
            transition: 0.4s;
         }
      }
      img {
         width: 100%;
      }

      &.pe-is-disabled {
         button {
            cursor: not-allowed;
         }
         img {
            filter: opacity(0.4);
         }
      }
   }
}

// EDITOR ELEMENT
.pe-editor .pe-page .pe-element {
   // GENERAL ITEM STYLES
   &:not(.pe-is-active) {
      .pe-item {
         cursor: pointer !important;
      }
   }
   &.pe-is-hovered {
      transition: 0.2s;
      border: $element-br-hover;
   }

   &.pe-is-active {
      border: $element-br !important;
      .pe-item {
         cursor: unset !important;
      }
   }
}

// ELEMENT
.pe-element {
   border: $element-br;
   box-sizing: border-box;
   touch-action: none;
}

// CONTROLLER
.pe-controller {
   box-sizing: border-box;
   touch-action: none;
   position: absolute;
   display: none;
   border: $controller-br;
   width: 300px;
   pointer-events: none;
   justify-content: center;
   &.pe-is-active {
      display: flex;
   }
   &.pe-is-resizable {
      .pe-thumbs {
         display: unset;
      }
   }
   // CONTROLS
   .pe-controls {
      position: absolute;
      bottom: 10px;
      width: fit-content;
      height: 24px;
      background-color: $controls-bg;
      border: $controls-br;
      border-radius: 12px;
      padding: 2px;
      z-index: 99999999;
      display: flex;
      justify-content: center;
      .pe-delete-handle,
      .pe-rotate-handle,
      .pe-move-handle {
         margin: 0 2px;
         cursor: pointer;
         pointer-events: auto;
      }
   }
   // THUMBS
   .pe-thumbs {
      display: none;
      .pe-thumb {
         position: absolute;
         width: 9px;
         height: 9px;
         background: $page-bg;
         border: $controller-br;
         pointer-events: auto;

         &.pe-thumb-tl {
            top: 0;
            left: 0;
            margin-top: -8px;
            margin-left: -8px;
         }

         &.pe-thumb-tr {
            top: 0;
            right: 0;
            margin-top: -8px;
            margin-right: -8px;
         }

         &.pe-thumb-bl {
            bottom: 0;
            left: 0;
            margin-bottom: -8px;
            margin-left: -8px;
         }

         &.pe-thumb-br {
            bottom: 0;
            right: 0;
            margin-bottom: -8px;
            margin-right: -8px;
         }
      }
   }
}
