.pe-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pe-preview .pe-controller {
  display: none !important;
}

.pe-preview .pe-page {
  background-color: white;
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 12px !important;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.pe-element {
  position: absolute;
  border: 3px solid transparent;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.pe-element .pe-item {
  resize: none;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  cursor: default;
}

.pe-element.pe-is-element-image {
  width: 30%;
}

.pe-element.pe-is-element-image .pe-item {
  padding: 0;
}

.pe-element.pe-is-element-text {
  width: 40%;
  height: auto;
  display: block !important;
}

.pe-element.pe-is-element-text .pe-item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pe-element.pe-is-element-text .pe-item:focus {
  outline: none !important;
}

.pe-element.pe-is-element-audio {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  cursor: unset;
  height: 40px;
}

.pe-element.pe-is-element-audio .pe-item {
  cursor: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pe-element.pe-is-element-audio .pe-item img {
  width: 36px;
  height: 36px;
}

.pe-element.pe-is-element-audio .pe-item a {
  margin-left: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: sans-serif;
  color: #6983db;
  font-weight: bold;
}

.pe-element.pe-is-element-audio.pe-hide-links {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.pe-element.pe-is-element-audio.pe-hide-links .pe-item {
  cursor: pointer;
}

.pe-element.pe-is-element-audio.pe-hide-links .pe-item img {
  width: 48px;
  height: 48px;
}

.pe-element.pe-is-element-audio.pe-hide-links .pe-item a {
  display: none;
}

.pe-element.pe-is-element-video {
  width: 30%;
}

.pe-element.pe-is-element-video .pe-item {
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

.pe-element.pe-is-element-video .pe-item.pe-link {
  border-radius: 0;
  cursor: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pe-element.pe-is-element-video .pe-item.pe-link img {
  width: 36px;
  height: 36px;
}

.pe-element.pe-is-element-video .pe-item.pe-link a {
  margin-left: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: sans-serif;
  color: #6983db;
  font-weight: bold;
}

.pe-hidden {
  display: none !important;
}

.pe-is-bold {
  font-weight: bold;
}

.pe-is-italic {
  font-style: italic;
}

.pe-is-strike {
  text-decoration: line-through;
}

.pe-size-800x800 .pe-page {
  width: 800px !important;
  height: 800px !important;
}

.pe-size-595x842 .pe-page {
  width: 595px !important;
  height: 842px !important;
}

.pe-size-800x600 .pe-page {
  width: 800px !important;
  height: 600px !important;
}

.pe-size-600x800 .pe-page {
  width: 600px !important;
  height: 800px !important;
}

.pe-zoom-20 .pe-page {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.pe-zoom-30 .pe-page {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.pe-zoom-40 .pe-page {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.pe-zoom-50 .pe-page {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.pe-zoom-60 .pe-page {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.pe-zoom-70 .pe-page {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.pe-zoom-80 .pe-page {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.pe-zoom-90 .pe-page {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pe-zoom-100 .pe-page {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pe-zoom-110 .pe-page {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pe-zoom-120 .pe-page {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pe-zoom-130 .pe-page {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pe-zoom-140 .pe-page {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.pe-zoom-150 .pe-page {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.pe-zoom-160 .pe-page {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.pe-zoom-170 .pe-page {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.pe-zoom-180 .pe-page {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.pe-zoom-190 .pe-page {
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.pe-zoom-200 .pe-page {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pe-editor {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e2e6eb;
  background: #ffffff;
  position: relative;
}

.pe-editor.pe-active-editor .pe-page {
  outline: 2px solid rgba(220, 205, 255, 0.329);
}

.pe-content {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  position: absolute;
  padding: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 54px;
}

.pe-page-wrapper {
  margin: auto;
  display: block;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.pe-editor .pe-page {
  border: 1px solid #e2e6eb;
  background-color: white;
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 28px -20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.5) 0px 0px 28px -20px;
  font-size: 12px !important;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.pe-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e2e6eb;
  padding: 10px;
  height: 32px;
}

.pe-options-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.pe-options-toolbar .pe-tool {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px !important;
  border-radius: 8px !important;
  overflow: hidden;
  padding: 3px;
}

.pe-options-toolbar .pe-toggle-bold,
.pe-options-toolbar .pe-toggle-italic,
.pe-options-toolbar .pe-toggle-strike {
  background-color: transparent;
}

.pe-options-toolbar .pe-toggle-bold input,
.pe-options-toolbar .pe-toggle-italic input,
.pe-options-toolbar .pe-toggle-strike input {
  display: none;
}

.pe-options-toolbar .pe-toggle-bold input:checked,
.pe-options-toolbar .pe-toggle-italic input:checked,
.pe-options-toolbar .pe-toggle-strike input:checked {
  background-color: #e6ecf0;
}

.pe-options-toolbar .pe-toggle-bold img,
.pe-options-toolbar .pe-toggle-italic img,
.pe-options-toolbar .pe-toggle-strike img {
  cursor: pointer;
}

.pe-options-toolbar .pe-change-font select {
  color: #3f494d;
  width: 170px;
  height: 100%;
  border: 1px solid #e2e6eb;
  border-radius: 5px;
  -webkit-appearance: none;
}

.pe-options-toolbar .pe-change-font select:focus {
  outline: none;
}

.pe-options-toolbar .pe-change-font-size select {
  color: #3f494d;
  width: 60px;
  height: 100%;
  border: 1px solid #e2e6eb;
  border-radius: 5px;
  -webkit-appearance: none;
}

.pe-options-toolbar .pe-change-font-size select:focus {
  outline: none;
}

.pe-options-toolbar .pe-change-align {
  cursor: pointer;
  position: relative;
}

.pe-options-toolbar .pe-change-align:hover {
  background-color: #e6ecf0;
}

.pe-options-toolbar .pe-change-opacity {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
}

.pe-options-toolbar .pe-change-opacity:hover {
  background: #f9fdff;
  border: 1px solid #e3e3e3;
}

.pe-options-toolbar .pe-change-opacity:hover .pe-opacity-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pe-options-toolbar .pe-change-opacity .pe-opacity-icon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pe-options-toolbar .pe-change-opacity .pe-opacity-menu {
  display: none;
  height: 32px;
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pe-options-toolbar .pe-change-opacity .pe-opacity-menu .pe-opacity-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #38b0ec;
  height: 7px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.pe-options-toolbar .pe-change-opacity .pe-opacity-menu .pe-opacity-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(69, 81, 97, 0.8);
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.pe-options-toolbar .pe-change-opacity .pe-opacity-menu .pe-opacity-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(69, 81, 97, 0.8);
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.pe-options-toolbar .pe-change-color {
  cursor: pointer;
  background-color: white;
  position: relative;
}

.pe-options-toolbar .pe-change-color .pe-color-area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pe-options-toolbar .pe-change-color .pe-color-area img {
  width: 26px;
}

.pe-options-toolbar .pe-change-color .pe-color-area .pe-color-indicator {
  background-color: #fc3c3c;
  width: 28px;
  height: 6px;
  border-radius: 3px;
}

.pe-options-toolbar .pe-change-color .pe-change-color-picker {
  z-index: 99;
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 0;
}

.pe-options-toolbar .pe-change-color .pe-change-color-picker::-webkit-color-swatch {
  display: none;
}

.pe-options-toolbar .pe-change-color .pe-change-color-picker::-moz-color-swatch {
  display: none;
}

.pe-options-toolbar .pe-flip-horizontal,
.pe-options-toolbar .pe-flip-vertical,
.pe-options-toolbar .pe-flip-back,
.pe-options-toolbar .pe-flip-front {
  width: 32px;
  height: 100%;
}

.pe-options-toolbar .pe-flip-horizontal button,
.pe-options-toolbar .pe-flip-vertical button,
.pe-options-toolbar .pe-flip-back button,
.pe-options-toolbar .pe-flip-front button {
  background: none;
  border: none;
  cursor: pointer;
}

.pe-options-toolbar .pe-flip-horizontal button.pe-is-active,
.pe-options-toolbar .pe-flip-vertical button.pe-is-active {
  background-color: #e6ecf0;
}

.pe-editor .pe-page .pe-element:not(.pe-is-active) .pe-item {
  cursor: pointer !important;
}

.pe-editor .pe-page .pe-element:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 3px solid rgba(255, 166, 0, 0.2);
}

.pe-editor .pe-page .pe-element.pe-is-active {
  border: 3px solid transparent !important;
}

.pe-editor .pe-page .pe-element.pe-is-active .pe-item {
  cursor: unset !important;
}

.pe-element {
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: none;
      touch-action: none;
}

.pe-controller {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: none;
  border: 2px solid #64c9ff;
}

.pe-controller.pe-is-active {
  display: block;
}

.pe-controller .pe-delete-handle {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  z-index: 99999999;
  top: -37px;
  left: calc(50% - 9px);
}

.pe-controller .pe-delete-handle img {
  width: 20px;
  background: #788f9b;
  border-radius: 100%;
  padding: 2px;
}

.pe-controller .pe-rotate-handle {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  z-index: 99999999;
  bottom: -40px;
  left: calc(50% - 9px);
}

.pe-controller .pe-rotate-handle img {
  width: 18px;
  background: #788f9b;
  border-radius: 100%;
  padding: 4px;
}

.pe-controller .pe-thumbs .pe-thumb {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  pointer-events: auto;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2px #64c9ff;
          box-shadow: 0 0 0 2px #64c9ff;
}

.pe-controller .pe-thumbs .pe-thumb.pe-thumb-top-left {
  top: -5px;
  left: -5px;
}

.pe-controller .pe-thumbs .pe-thumb.pe-thumb-top-right {
  top: -5px;
  right: -5px;
}

.pe-controller .pe-thumbs .pe-thumb.pe-thumb-bottom-left {
  bottom: -5px;
  left: -5px;
}

.pe-controller .pe-thumbs .pe-thumb.pe-thumb-bottom-right {
  bottom: -5px;
  right: -5px;
}
