$sizes: (800 800), (595 842), (800 600), (600 800);

@each $dims in $sizes {
   $w: #{nth($dims, 1)};
   $h: #{nth($dims, 2)};
   .pe-size-#{$w}x#{$h} {
      .pe-page {
         width: #{$w + 'px'} !important;
         height: #{$h + 'px'} !important;
      }
   }
}
