.pe-size-800x800 .pe-page {
  width: 800px !important;
  height: 800px !important;
}

.pe-size-595x842 .pe-page {
  width: 595px !important;
  height: 842px !important;
}

.pe-size-800x600 .pe-page {
  width: 800px !important;
  height: 600px !important;
}

.pe-size-600x800 .pe-page {
  width: 600px !important;
  height: 800px !important;
}
