@import 'variables.scss';
@import 'pages.scss';
@import 'zoom.scss';
@import 'animation.scss';
@import 'scrollbar.scss';

// EDITOR
.pe-editor {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   border: none;
}

// EDITOR CONTENT
.pe-content {
   display: grid;
   overflow: auto;
   position: absolute;
   padding: 50px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   top: 52px;
   background-color: $content-background;
}

// PAGE WRAPPER
.pe-page-wrapper {
   margin: auto;
   display: block;
   position: relative;
   box-sizing: content-box;
}

// PAGE
.pe-page {
   font-size: $page-font-size;
}

// EDITOR PAGE
.pe-editor .pe-page {
   border: $page-border;
   background-color: $page-background;
   overflow: hidden;
   position: absolute;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transform-origin: 0 0;
}

// TOOLBAR
.pe-toolbar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: white;
   display: flex;
   align-items: center;
   padding: 0 10px;
   height: 52px;
}

// OPTIONS TOOLBAR
.pe-options-toolbar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   z-index: 99999999;
   width: 100%;
   height: 100%;
   column-gap: 12px;

   // TOOL
   .pe-tool {
      display: none;
      justify-content: center;
      align-items: center;
      height: 32px !important;
      padding: 3px;
      img {
         height: 32px !important;
      }
   }

   // ALIGN SELECTOR
   .pe-change-align {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
   }

   // OPACITY SLIDER
   .pe-change-opacity {
      align-items: center;
      border: 1px solid transparent;
      border-radius: 8px;
      &:hover {
         border: 1px solid rgb(227, 227, 227);
         .pe-opacity-menu {
            display: flex;
         }
      }

      .pe-opacity-icon {
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .pe-opacity-menu {
         display: none;
         height: 32px;
         width: 140px;
         align-items: center;
         justify-content: center;
         .pe-opacity-slider {
            -webkit-appearance: none;
            appearance: none;
            background-color: $link-color;
            height: 7px;
            border: none;
            border-radius: 5px;
            outline: none;
            &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 16px;
               height: 16px;
               border: 1px solid $link-color;
               border-radius: 100%;
               background: white;
               cursor: pointer;
            }

            &::-moz-range-thumb {
               width: 16px;
               height: 16px;
               border: 1px solid $link-color;
               border-radius: 100%;
               background: white;
               cursor: pointer;
            }
         }
      }
   }

   // COLOR SELECTOR
   .pe-change-color {
      cursor: pointer;
      background-color: white;
      position: relative;
      .pe-color-area {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         img {
            width: 26px;
         }
         .pe-color-indicator {
            outline: 1px solid rgba(128, 128, 128, 0.2);
            width: 28px;
            height: 6px;
            border-radius: 3px;
         }
      }
      input {
         z-index: 99;
         cursor: pointer;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 6px;
         opacity: 0;
         &::-webkit-color-swatch {
            display: none;
         }
         &::-moz-color-swatch {
            display: none;
         }
      }
   }

   // TOGGLE BOLD-ITALIC-STRIKE
   .pe-toggle-bold,
   .pe-toggle-italic,
   .pe-toggle-strike {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
      button.pe-is-active img {
         filter: saturate(25) brightness(150%);
      }
   }

   // FLIP HORIZONTAL-VERTICAL-BACK-FRONT
   .pe-flip-horizontal,
   .pe-flip-vertical,
   .pe-flip-back,
   .pe-flip-front {
      width: 32px;
      button {
         background: none;
         border: none;
         cursor: pointer;
      }
   }

   .pe-flip-horizontal,
   .pe-flip-vertical {
      button.pe-is-active img {
         filter: saturate(25) brightness(150%);
      }
   }

   // AUDIO CONTROL
   .pe-audio-control {
      audio {
         height: 36px;
      }
   }
}

// CONTROLLER
.pe-controller {
   // pointer-events: none;
   // touch-action: none;
   box-sizing: border-box;
   position: absolute;
   display: none;
   border: $controller-border;
   border-radius: 5px;

   &.pe-is-active {
      display: block;
   }

   // DELETE HANDLE
   .pe-delete-handle {
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      z-index: 99999999;
      top: -37px;
      left: calc(50% - 11px);
      img {
         width: 22px;
         background: $accent-color;
         border-radius: 100%;
         padding: 3px;
      }
   }

   // ROTATE HANDLE
   .pe-rotate-handle {
      position: absolute;
      cursor: pointer;
      pointer-events: auto;
      z-index: 99999999;
      bottom: -40px;
      left: calc(50% - 11px);
      img {
         width: 22px;
         background: $accent-color;
         border-radius: 100%;
         padding: 3px;
      }
   }

   // THUMBS
   .pe-thumbs {
      .pe-thumb {
         position: absolute;
         width: 10px;
         height: 10px;
         background: white;
         pointer-events: auto;
         border-radius: 100%;
         box-shadow: 0 0 0 2px $accent-color;

         &.pe-thumb-top-left,
         &.pe-thumb-top-right {
            top: -5px;
         }

         &.pe-thumb-bottom-left,
         &.pe-thumb-top-left {
            left: -5px;
         }

         &.pe-thumb-top-right,
         &.pe-thumb-bottom-right {
            right: -5px;
         }

         &.pe-thumb-bottom-left,
         &.pe-thumb-bottom-right {
            bottom: -5px;
         }
      }
   }
}

.pe-change-font .pe-selector {
   width: 200px;
}

.pe-change-font-size .pe-selector {
   width: 60px;
}

.pe-selector {
   font-family: sans-serif;
   position: relative;
   border: $default-border;
   border-radius: 5px;
   box-sizing: border-box;
   height: 36px;
   padding: 0 8px;
   cursor: pointer;
   display: flex;
   align-items: center;
   .pe-selector-display {
      width: 100%;
      display: flex;
      white-space: nowrap;
      justify-content: space-between;
      align-items: center;
      column-gap: 5px;
      box-sizing: border-box;
      font-size: 14px;
   }

   &.pe-is-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .pe-selector-options {
         transition: 0.5s;
         visibility: visible;
         opacity: 1;
      }
   }

   .pe-selector-options {
      position: absolute;
      box-sizing: border-box;
      top: 100%;
      right: -1px;
      left: -1px;
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      background: white;
      max-height: 250px;
      overflow-y: auto;
      border: $default-border;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }

   .pe-selector-option {
      cursor: pointer;
      padding: 5px;
      &:hover {
         color: white;
         background: $link-color;
      }
   }
}

// PAGE
.pe-viewer .pe-page {
   background-color: $page-background;
   overflow: hidden;
   position: absolute;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transform-origin: 0 0;
}

// EDITOR ELEMENT
.pe-editor .pe-element {
   .pe-item {
      cursor: pointer;
   }

   &:not(.pe-is-active):hover {
      outline: $element-outline;
   }

   &.pe-is-active .pe-item {
      cursor: unset;
   }
}

// ELEMENT
.pe-element {
   cursor: pointer;
   border-radius: 3px;
   position: absolute;
   touch-action: none;
   box-sizing: border-box;
   display: block;

   // GENERAL ITEM STYLES
   .pe-item {
      resize: none;
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      cursor: default;
   }

   // IMAGE
   &.pe-is-element-image {
      width: 30%;
      .pe-item {
         padding: 0;
      }
   }

   // TEXT
   &.pe-is-element-text {
      width: 40%;
      height: auto;
      display: block !important;
      .pe-item {
         -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         &:focus {
            outline: none !important;
         }
      }
   }

   // AUDIO
   &.pe-is-element-audio {
      height: 52px;
      width: 52px;
      .pe-item {
         cursor: unset;
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            width: 100%;
            height: 100%;
         }
      }
      &.pe-is-on-play img {
         animation: play 3s;
         animation-iteration-count: infinite;
      }
   }
}
