@import 'variables.scss';

// PREVIEW
.pe-preview {
   display: flex;
   flex-direction: column;
   align-items: center;
}

// PAGE
.pe-preview .pe-page {
   display: block;
   border: $page-br;
   border-radius: 12px;
   overflow: hidden;
   position: relative;
   background-color: $page-bg;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   font-size: $page-font-size !important;
}

// ELEMENT
.pe-element {
   position: absolute;
   border: $element-br;
   touch-action: none;
   box-sizing: border-box;
   display: block;

   // GENERAL ITEM STYLES
   .pe-item {
      resize: none;
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      cursor: default;
   }

   // IMAGE
   &.pe-is-element-image {
      width: 30%;
      .pe-item {
         padding: 0;
      }
   }

   // TEXT
   &.pe-is-element-text {
      width: 40%;
      height: auto;
      display: block !important;
      .pe-item {
         -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         &:focus {
            outline: none !important;
         }
      }
   }

   // AUDIO
   &.pe-is-element-audio {
      width: min-content;
      cursor: unset;
      height: 40px;
      .pe-item {
         cursor: unset;
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            width: 36px;
            height: 36px;
         }
         a {
            margin-left: 10px;
            width: min-content;
            font-family: sans-serif;
            color: $audio-link-cl;
            font-weight: bold;
         }
      }

      &.pe-hide-links {
         width: 100px;
         height: 100px;
         cursor: pointer;
         .pe-item {
            cursor: pointer;
            img {
               width: 48px;
               height: 48px;
            }
            a {
               display: none;
            }
         }
      }
   }

   &.pe-is-element-video {
      width: 30%;
      .pe-item {
         border-radius: 12px;
         overflow: hidden;
         padding: 0;

         &.pe-link {
            border-radius: 0;
            cursor: unset;
            display: flex;
            justify-content: start;
            align-items: center;
            img {
               width: 36px;
               height: 36px;
            }
            a {
               margin-left: 10px;
               width: min-content;
               font-family: sans-serif;
               color: $audio-link-cl;
               font-weight: bold;
            }
         }
      }
   }
}
