// General Variables
$default-br: 1px solid rgb(226, 230, 235);
$drop-br: 3px solid rgba(255, 166, 0, 0.2);

// Toggle Button Variables
$toggle-cl: rgb(63, 63, 71);
$toggle-cl-active: blue;
$toggle-bg-active: rgb(230, 236, 240);

// Page Variables
$page-br: 1px solid rgb(226, 230, 235);
$page-shadow: rgba(99, 99, 99, 0.5) 0px 0px 28px -20px;
$page-bg: rgb(255, 255, 255);
$page-drop-outline: $drop-br;

// Controller Variables
$controller-br: 2px solid rgba(112, 128, 136, 0.6);
$controls-br: 1px solid rgba(169, 182, 189, 0.6);
$controls-bg: white;

// Element Variables
$element-br: 3px solid transparent;
$element-br-hover: $drop-br;
$audio-link-cl: rgb(105, 131, 219);

// Materials
$material-br: 2px solid transparent;
$material-br-active: $drop-br;

// Icons
$icon-color: #3f494d;
