.pe-zoom-20 .pe-page {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.pe-zoom-30 .pe-page {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.pe-zoom-40 .pe-page {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.pe-zoom-50 .pe-page {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.pe-zoom-60 .pe-page {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.pe-zoom-70 .pe-page {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.pe-zoom-80 .pe-page {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.pe-zoom-90 .pe-page {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pe-zoom-100 .pe-page {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pe-zoom-110 .pe-page {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pe-zoom-120 .pe-page {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pe-zoom-130 .pe-page {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pe-zoom-140 .pe-page {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.pe-zoom-150 .pe-page {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.pe-zoom-160 .pe-page {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.pe-zoom-170 .pe-page {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.pe-zoom-180 .pe-page {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.pe-zoom-190 .pe-page {
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.pe-zoom-200 .pe-page {
  -webkit-transform: scale(2);
          transform: scale(2);
}
